<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; <%= Rails.application.class.parent_name%> - <%= Date.today.year %></p>
      </div>
    </div>
  </footer>

</div>
    <!-- /.container -->